<form class='entry' action='/days' method='post'>
<h1> Work Schedule </h1>
<table class='table' align="center">
  <tr>
  <th class='weekdays'>Sunday</th>

  <th class='weekdays'>Monday</th>
  <th class='weekdays'>Tuesday</th>
  <th class='weekdays'>Wednesday</th>
  <th class='weekdays'>Thursday</th>
  <th class='weekdays'>Friday</th>
  <th class='weekdays'>Saturday</th>
</tr>
<tr>
  <td class='{{sundayColor}}'>

{{#each Sunday}}
<ul>
{{this}}
</ul>
{{/each}}
  </td>

  <td class='{{mondayColor}}'>
{{#each Monday}}
<ul>
{{this}}
</ul>
{{/each}}
  </td>

  <td class='{{tuesdayColor}}'>
{{#each Tuesday}}
<ul>
{{this}}
</ul>
{{/each}}
  </td>

  <td class='{{wednesdayColor}}'>
{{#each Wednesday}}
<ul>
{{this}}
</ul>
{{/each}}
  </td>

  <td class='{{thursdayColor}}'>
{{#each Thursday}}
<ul>
{{this}}
</ul>
{{/each}}
  </td>

  <td class='{{fridayColor}}'>
{{#each Friday}}
<ul>
{{this}}
</ul>
{{/each}}
  </td>

  <td class='{{saturdayColor}}'>
{{#each Saturday}}
<ul>
{{this}}
</ul>
{{/each}}
  </td>

</tr>
</table>
<div class='green'> </div>
<div class='red'> </div>
<div class='orange'> </div>
{{waiterLits}}
</form>

<form class='entry' action='/clear' method='post'>

  <input class='clear' type='submit' value='Clear_Database'></input>


</form>
